.navbar-main-div{
background-color: darkslategray;
display: flex;
align-items: center;
justify-content: space-around;
padding: 15px;
}
.navbar-logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /*border: 2px solid white;*/
    
}
.navbar-logo-div img{
    width: 20px;
    height: 20px;
}
.navbar-logo-div h1{
    color: white;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 25px;
}
.navbar-link-div .nav-link{
   color: white;
   text-decoration: none;
   margin: 20px;
   font-family: sans-serif;
   margin-right: 20px;
}
.navbar-link-div{
    /*border: 2px solid wheat;*/
}
@media(max-width:552px){
    .navbar-main-div{
        width: 100%;
        flex-direction: column;
    }
    .navbar-logo-div img{
        margin-right: 10px;
    }
    .navbar-logo-div h1{
        font-size: 30px ;
        color: wheat;
        font-weight: bolder;
    }
   .navbar-link-div{
       display: flex;
       flex-direction: column;
       justify-content: center;
       color: wheat;
   }
}